@charset "UTF-8";

/* ボディのスタイル */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}


/* ヘッダーのスタイル */
header {
	background-color: #333;
	color: white;
	padding: 15px;
	text-align: center; //要素内のテキストを 中央揃え にする

	.right-buttons {
		display: flex;
		/* 横並びにする */
		justify-content: flex-end;
		/* 右寄せにする */
		margin-top: 10px;
		/* 上に少し余白（任意） */
	}
}

/* ボタンのスタイル */

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block; //横並びできて、幅高さ調整できる
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;

	&.order {
		background-color: white;
		font-size: 30px;
		color: #333;
		border: 1px solid #333;
		border-radius: 5px;

		&:hover {
			background-color: #333;
			color: white;
		}
	}

	&.shop {
		background-color: orange;
		font-size: 30px;

		&:hover {
			background-color: darkorange;
		}
	}
}

/* コンテンツ全体のコンテナ */
.container {
	padding: 20px 0px;
	width: 100%;
	text-align: center;
	padding-top: 0;

	.product {
		margin: 30px auto 0px auto;
		max-width: 600px;

		.titlepro {
			color: #3C6196;
			font-size: 30px;
		}

		.eachprocon {
			padding: 10px 30px;
			border: 0.5px solid black;
			border-radius: 8px;
			margin-bottom: 30px;

			.procon {
				display: flex;
				flex-wrap: wrap;
				overflow: hidden;
				align-items: stretch;

				.procon-image {
					flex: 2;

					& img {
						width: 100%;
						/* 親要素の幅と同じにする */
						height: auto;
						/* 高さも親と同じにする（オプション） */
						display: block;
						padding: 0px;
					}
				}

				.procon-content {
					width: 100%;
					/* 親要素の幅と同じにする */
					flex: 5;
					/* 70% */
					padding: 0px 20px;

					/* 親要素の幅を固定 */
					.ingredients {
						font-size: 30px;
						color: red;
					}

					.quant {
						font-size: 30px;
						color: blue;
					}

					.cnt {
						font-size: 40px;
						color: red;
					}
				}
			}
		}

		.totalAmount {
			font-size: 50px;
			margin-bottom: 20px;
		}
	}
}

.section_title {
	text-align: left;
	font-size: 20pt;
	color: #ffffff;
	font-weight: bold;
	background-color: #666666;
	padding: 3pt;
	width: 90%;
	max-width: 1100px;
	border: none;
	padding: 0;
	margin: auto;
}

.supplement {
	font-size: 27px;
	margin-bottom: 10px;
}

.container2 {
	text-align: center;
	margin-bottom: 100px;

	.row_container {
		width: 100%;
		display: flex;
		max-width: 1100px;
		margin: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 30px;

		.td1 {
			border: 1pt solid #cccccc;
			background-color: #ffffff;
			padding: 15pt;
		}

		.td2 {
			border: 1pt solid #cccccc;
			background-color: #ffffff;
			padding: 15pt;
		}

		.box_col_1 {
			width: 25%;
			text-align: left;
		}

		.box_col_2 {
			width: 75%;
			text-align: left;

			input {
				height: 30px;
				font-size: 35px;
				padding: 10px;
			}
		}
	}
}

/* フッターのスタイル */
footer {
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;

	.firsttime_question {
		display: flex;
		justify-content: center;
		gap: 20px;
		/* ボタン同士の隙間 */
	}

	.button {
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
	}
}