@charset "UTF-8";

		header {
			background-color: #333;
			color: white;
			padding: 15px;
			text-align: center;
		}

		body {
			margin: auto;
		}

		.container {
			margin: auto;
		}

		.section_title {
			margin: auto;
			color: #ffffff;
			font-weight: bold;
			background-color: #666666;
			max-width: 1100px;
			font-size: 30px;
		}

		.row_container {
			width: 100%;
			display: flex;
			max-width: 1100px;
			margin: auto;
			margin-top: 1em;
			margin-bottom: 1em;
			font-size: 30px;
		}

		.td1 {
			border: 1pt solid #cccccc;
			background-color: #ffffff;
			padding: 15pt;
		}

		.td2 {
			border: 1pt solid #cccccc;
			background-color: #ffffff;
			padding: 15pt;
		}

		.box_col_1 {
			width: 25%;
			text-align: left;
		}

		.box_col_2 {
			width: 75%;
			text-align: left;
		}

		input {
			height: 30px;
			font-size: 35px;
			padding: 10px;
		}
