<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>注文画面2</title>
	<link rel="stylesheet" th:href="@{/css/style_order2.css}">
</head>

<body>
	<header>
		<h1>Okome販売サイト</h1>
	</header>
	<div class="container">
		<div class="containerA">
			
		</div>
		<div class="containerB"></div>
						
	</div>
	<footer>
		<button class="button" onclick="location.href='first_time.html'">初めての方へ</button>
		<button class="button" onclick="location.href='faq.html'">よくある質問</button>
	</footer>

</body>

</html>