<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>初めての方へ</title>
	<!-- 外部CSSファイルのリンク -->
	<link rel="stylesheet" th:href="@{/css/first_time.css}">
	
</head>

<body>
	<!-- ヘッダー -->
	<header>
		<h1>Okome販売サイト</h1>
		<form action="/" method="GET">
			<button class="button">トップページ</button>
		</form>
	</header>
	<div class="javascript">
		<button class="button first" onclick="history.back()">前のページへ戻る</button>
	</div>
</body>
</html>